@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Zilla+Slab&display=swap');
/*
font-family: 'Cairo', sans-serif; Titulos e Subtitulos
font-family: 'Zilla Slab', serif; Textos
*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
header {
    padding: 10px 5px;
    text-align: center;
}
header>h1 {
    font-family: 'Cairo', sans-serif;
}
/* Fim do Cabeçalho */
.s1 {
    background-image: url('../_img-carreira/fundo-01.jpg');
    background-size: 100% 100%;
    color: #fff;
    height: 600px;
    width: 100%;
}
.s1>div {
    background: rgba(0, 0, 0, .8);
    height: inherit;
    padding: 10px;
    position: relative;
}
div>h2 {
    font-family: 'Cairo', sans-serif;
}
div>p {
    font-family: 'Zilla Slab', serif;
    margin: 20px 0px;
}
div>form {
    background: #008080;
    padding: 20px;
    position: absolute; bottom: 10px;
    width: 94%;
}
form>h2 {
    font-family: 'Cairo', sans-serif;
}
label>input, input {
    border: none;
    margin: 5px 0px;
    padding: 10px;
    width: 100%;
}
input#botao-form {
    background: #f4a460;
    border-radius: 5px;
    color: #fff;
    font-weight: 900;
}
/* Fim da Seção1 */
.s2 {
    padding: 20px;
}
.s2 h2 {
    font-family: 'Cairo', sans-serif;
}
.s2 p {
    font-family: 'Zilla Slab', serif;
    margin: 20px 0px;
    text-align: justify;
}
/* Fim da Seção2 */
.s3 {
    background: #daa520;
    padding: 30px;
    text-align: center;
}
.s3 img {
    margin: 50px 0px 0px 0px;
}
.s3 h3 {
    font-family: 'Cairo', sans-serif;
    margin: 20px 0px;
}
.s3 p {
    font-family: 'Zilla Slab', serif;
    margin: 0px 0px 20px 0px;
}
/* Fim da Seção3 */
.s4 {
    background: #141540;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.s4 h2 {
    font-family: 'Cairo', sans-serif;
    margin: 50px 0px;
}
.s4 p {
    font-family: 'Zilla Slab', serif;
}
/* Fim da Seção4 */
footer {
    background: darkgrey;
    color: #fff;
    padding: 50px 10px;
    text-align: center;
}
footer>h2 {
    font-family: 'Cairo', sans-serif;
    display: inline-block;
}
footer>h3 {
    font-family: 'Cairo', sans-serif;
    display: inline-block;
}
footer>h2 {
    position: relative; bottom: 35px;
}
footer>h3 {
    position: relative; right: 60px; bottom: 16px;
}
footer>img {
    margin: 0px 5px;
}
footer>p {
    font-family: 'Cairo', sans-serif;
    margin: 50px 0px 0px 0px;
}
/* Fim */
@media only screen and (min-width: 375px) {
    div>form {
        width: 95%;
    }
}
@media only screen and (min-width: 425px) {
    div>form {
        width: 95.5%;
    }
}
@media only screen and (min-width: 768px) {
    div>form {
        width: 98%;
    }
}
@media only screen and (min-width: 1024px) {
    main {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 968px;
        margin: 0 auto;
    }
    div>p {
        display: inline-block;
        position: relative; bottom: 150px;
        width: 49%;
    }
    div>form {
        display: inline-block;
        position: relative; top: 250px;
        width: 49%;
    }
}