* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background: rgba(0, 0, 0, .5);
}
main {
    width: 100%;
}
main header {
    background: aquamarine;
    height: 350px;
    position: relative;
}
main header nav {
    position: absolute; bottom: 10px;
    text-align: center;
    width: 100%;
}
/*  */