@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Prompt&display=swap');
/* 
    font-family: 'Prompt', sans-serif; Titulos e menus
    font-family: 'PT Sans', sans-serif; Paragrafos
*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
main {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0px auto;
    max-width: 500px;
}
/* Início do Header */
nav.nav-superior>ul {
    text-align: center;
}
nav.nav-superior>ul>a {
    color:rgba(255, 255, 255);
    text-decoration: none;
}
nav.nav-superior>ul>a:visited {
    color: rgba(255, 255, 255);
}
nav.nav-superior>ul>a>li {
    background: rgba(30, 144, 255);
    border: 1px solid rgba(255, 255, 255);
    color: rgba(255, 255, 255);
    display: inline-block;
    font-family: 'Prompt', sans-serif;
    margin: 0px -2px;
    padding: 10px 0px;
    width: 50%;
}
/* Fim do Header */
/* Início da s1-artigos */
section.s1-artigos>h1 {
    font-family: 'Prompt', sans-serif;
    margin: 40px 0px;
    text-align: center;
}
section.s1-artigos>ol {
    list-style-position: inside;
}
section.s1-artigos>ol>a {
    color: rgba(255, 255, 255);
    text-decoration: none;
}
section.s1-artigos>ol>a:visited {
    color: rgba(255, 255, 255);
}
section.s1-artigos>ol>a>li {
    background: rgba(30, 144, 255, .5);
    border-bottom: 5px solid rgba(30, 144, 255, .9);
    font-family: 'PT Sans', sans-serif;
    margin: 20px 0px;
    padding: 10px 5px;
}
/* Fim da s1-artigos */
/* Início do Footer */
footer {
    background: rgba(128, 128, 128, .1);
    padding: 5px;
}
footer>a {
    margin: 0px 5px;
    position: relative; top: 3px;
}
/* Fim do Footer */