@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Ubuntu:wght@500&display=swap');
/* 
font-family: 'Ubuntu', sans-serif; Logo e titulos
font-family: 'PT Serif', serif; Textos
*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
main>header {
    background: #082440;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
header>h1 {
    font-family: 'Ubuntu', Sans-Serif;
}
header>h2 {
    margin: 10px 0px;
}
header>ul {
    margin: 0 auto;
    list-style-position: inside;
    width: 180px;
}
ul>a {
    color: #ffffff;
    text-decoration: none;
}
ul>a:visited {
    color: #ffffff;
}
a>li {
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 10px;
    text-align: left;
}
.chave {
    display: inline-block;
}
header>img {
    position: relative; top: 10px;
}
/* Fim do cabeçalho */
.s1 img {
    height: auto;
    width: 100%;
}
.descricao {
    padding: 10px;
}
.descricao h2 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
.descricao p {
    font-family: 'PT Serif', serif;
    margin: 10px 0px;
    text-align: justify;
}
/* Fim da seção1 */
.s2 {
    background: #082440;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
.s2 h2 {
    font-family: 'Ubuntu', sans-serif;
    margin: 0px 0px 10px 0px;
}
.s2 img {
    border-radius: 100px;
    width: 200px;
}
.s2 h3 {
    font-family: 'PT Serif', serif;
}
.s2 p {
    font-family: 'PT Serif', serif;
    margin: 10px 0px 0px 0px;
    text-align: justify;
}
/* Fim da seção2 */
.s3 {
    padding: 10px;
    text-align: center;
}
.s3 h2 {
    font-family: 'Ubuntu', sans-serif;
}
.s3 p {
    margin: 10px 0px;
    text-align: justify;
}
.s3 img {
    height: auto;
    width: 100%;
}
/* Fim da seção3 */
.s4 {
    background-image: url('../_img-casa-da-informatica-1/img-fundo-depoimentos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.s4 p {
    background: rgba(255, 255, 255, .8);
    border-radius: 5px;
    margin: 10px 0px 0px 0px;
    padding: 10px;
    text-align: justify;
}
/* Fim da seção4 */
.s5 {
    padding: 10px;
    text-align: center;
}
.s5 h3 {
    font-family: 'Ubuntu', sans-serif;
}
.s5 p {
    font-family: 'PT Serif', serif;
}
.img-2 {
    margin: 20px 0px 0px 0px;
}
/* Fim da seção5 */
footer {
    background: #082440;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
    padding: 10px;
}
footer>h2 {
    display: inline-block;
}
footer>a {
    position: relative; left: 135px;
}
/* Fim do rodapé */
@media only screen and (min-width: 375px) {
    .s4 p {
        margin: 30px auto;
        width: 80%;
    }
    footer>a {
        left: 190px;
    }
}
@media only screen and (min-width: 425px) {
    footer>a {
        left: 230px;
    }
}
@media only screen and (min-width: 768px) {
    footer>a {
        left: 580px;
    }
}