@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); /* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap'); /* font-family: 'Dancing Script', cursive; */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
main header {
    background: rgb(45, 64, 97);
    color: rgb(255, 255, 255);
    padding: 20px 10px;
    text-align: center;
}
main header h1 {
    font-size: 27px;
    margin: 0px 0px 20px 0px;
}
main header ul {
    list-style-type: none;
}
main header ul a {
    color:rgb(255, 255, 255);
    text-decoration: none;
}
main header ul a li {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2px;
    margin: 5px 0px 0px 0px;
    padding: 10px 0px;
}
main header ul a li:hover {
    background: rgba(255, 255, 255, .5);
}
/*  */
.secao1 {
    padding: 10px;
}
.secao1 img {
    height: auto;
    width: 100%;
}
.secao1 h2 {
    color: rgb(165, 42, 42);
    text-align: center;
}
.secao1 p {
    margin: 10px 0px;
    text-align: justify;
}
/*  */
.secao2 {
    background: rgb(45, 64, 97);
    color: rgb(255, 255, 255);
    text-align: center;
}
.racoes {
    padding: 10px;
}
.racoes p {
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 20px 0px;
    padding: 0px 0px 10px 0px;
    text-align: justify;
}
/*  */
.plantas {
    padding: 10px;
}
.plantas p {
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 20px 0px;
    padding: 0px 0px 10px 0px;
    text-align: justify;
}
/*  */
.frutas-vegetais {
    padding: 10px;
}
.frutas-vegetais p {
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 20px 0px;
    padding: 0px 0px 10px 0px;
    text-align: justify;
}
/*  */
.ferramentas {
    padding: 10px;
}
.ferramentas p {
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 20px 0px;
    padding: 0px 0px 10px 0px;
    text-align: justify;
}
/*  */
.secao3 {
    padding: 10px;
}
.descricao-secao3 h2 {
    color:rgb(165, 42, 42);
    text-align: center;
}
.descricao-secao3 p {
    margin: 10px 0px;
    text-align: justify;
}
.secao3 img {
    height: auto;
    width: 100%;
}
/*  */
.secao4 {
    background-image: url('../_img-agro/img-depoimentos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}
.secao4 h2 {
    color: rgba(255, 255, 255, .9);
    font-family: 'Dancing Scripet', Cursive;
    position: relative; top: 50px;
    text-align: center;
}
.paragrafo-1 {
    display: none;
}
.paragrafo-2 {
    background:rgba(255, 255, 255, .6);
    border-radius: 10px;
    margin: 100px auto;
    padding: 10px;
    text-align: justify;
    width: 90%;
}
/*  */
.secao5 {
    padding: 20px;
    text-align: center;
}
.enderecos {
    border-bottom: 2px solid rgba(169, 169, 169, .5);
    padding: 0px 0px 20px 0px;
}
.enderecos img {
    width: 64px;
}
.enderecos h3 {
    color:rgb(165, 42, 42);
    margin: 20px 0px 0px 0px;
}
.contato {
    border-bottom: 2px solid rgba(169, 169, 169, .5);
    padding: 0px 0px 20px 0px;
}
.contato img {
    width: 64px;
}
.contato h3 {
    color:rgb(165, 42, 42);
    margin: 20px 0px 0px 0px;
}
/*  */
main footer {
    background:rgb(45, 64, 97);
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}
main footer a {
    display: block;
    margin: 20px 0px 0px 0px;
}
/*  */
@media only screen and (min-width: 600px) {
    main header h1 {
        margin: 0px 0px 10px 0px;
        text-align: left;
    }
    main header ul a li {
        display: inline-block;
        margin: 0px;
        padding: 10px 15px;
    }
    /*  */
    .secao2 {
        height: 750px;
        padding: 10px 0px;
    }
    .racoes {
        border-right: 1px solid rgb(255, 255, 255);
        float: left;
        width: 50%;
    }
    .descricao-racoes p {
        border-bottom: none;
    }
    .plantas {
        float: right;
        height: 355px;
        width: 50%;
    }
    .descricao-plantas p {
        border-bottom: none;
    }
    .frutas-vegetais {
        border-right: 1px solid rgb(255, 255, 255);
        float: left;
        margin: 20px 0px 0px 0px;
        width: 50%;
    }
    .descricao-frutas-vegetais p {
        border-bottom: none;
    }
    .ferramentas {
        float: right;
        margin: 20px 0px 0px 0px;
        width: 50%;
    }
    .descricao-ferramentas p {
        border-bottom: none;
    }
    main footer {
        position: relative;
        text-align: left;
    }
    main footer p {
        display: inline-block;
    }
    main footer a {
        display: inline-block;
        margin: 0px;
        position: absolute; right: 20px; bottom: 25px;
    }
}
/*  */
@media only screen and (min-width: 768px) {
    .secao2 {
        height: 680px;
    }
    .plantas {
        height: 319px;
    }
    .paragrafo-1 {
        background:rgba(255, 255, 255, .6);
        border-radius: 10px;
        display: block;
        margin: 100px auto 50px auto;
        padding: 10px;
        text-align: justify;
        width: 90%;
    }
    .paragrafo-2 {
        margin: 0 auto;
    }
    .secao5 {
        height: 300px;
    }
    .enderecos {
        border-bottom: none;
        border-right: 1px solid rgba(169, 169, 169, .5);
        float: left;
        padding: 0px 20px 0px 0px;
        width: 50%;
    }
    .contato {
        border-bottom: none;
        border-left: 1px solid rgba(169, 169, 169, .5);
        float: right;
        height: 260px;
        padding: 0px;
        width: 50%;
    }
}
/*  */
@media only screen and (min-width: 1024px) {
    .plantas {
        height: 301px;
    }
}