@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap'); /* font-family: 'Work Sans', sans-serif; */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
main header ul {
    list-style-type: none;
    padding: 10px;
    text-align: center;
}
main header ul a {
    color: white;
    text-decoration: none;
}
main header ul li#logo {
    background-image: url('../_img-agro/cavalo.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 32px;
    padding: 0px;
    position: relative; top: 10px; right: 10px;
    width: 32px;
} 
main header ul a li {
    background:rgb(46, 66, 100);
    border-radius: 20px;
    display: inline-block;
    padding: 10px;
    position: relative; left: 15px;
}
/*  */
main section.secao1 {
    text-align: center;
}
main section.secao1 h1 {
    color:rgb(178, 34, 34);
    margin: 10px 0px;
}
/*  */
main section.secao2 {
    color: rgb(255, 255, 255);
    background:rgb(46, 66, 100);
}
.plantas img {
    position: relative; bottom: 50px;
}
.descricao-plantas {
    display: inline-block;
    width: 70%;
}
.descricao-plantas h2 {
    margin: 20px 0px;
}
.descricao-plantas p {
    border-left: 1px solid white;
    padding: 0px 0px 0px 20px;
    text-align: justify;
}
/*  */
.flores img {
    position: relative; bottom: 50px;
}
.descricao-flores {
    display: inline-block;
    margin: 100px 0px;
    width: 70%;
}
.descricao-flores h2 {
    margin: 20px 0px;
}
.descricao-flores p {
    border-left: 1px solid white;
    padding: 0px 0px 0px 20px;
    text-align: justify;
}