@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Zilla+Slab&display=swap');
/*
font-family: 'Cairo', sans-serif; Titulos e Subtitulos
font-family: 'Zilla Slab', serif; Textos
*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
header {
    padding: 10px 5px;
    text-align: center;
}
header>h1 {
    font-family: 'Cairo', sans-serif;
}
/* Fim do Cabeçalho */
.s1 {
    background-image: url('../_img-carreira/fundo-01.jpg');
    background-size: 100% 100%;
    color: #fff;
    height: 600px;
    width: 100%;
}
.s1 div {
    background: rgba(0, 0, 0, .8);
    height: inherit;
    padding: 10px;
}
div>h2 {
    font-family: 'Cairo', sans-serif;
}
div>p {
    font-family: 'Zilla Slab', serif;
    margin: 20px 0px;
}
div>form {
    background: #008080;
    padding: 20px;
}
form>h2 {
    font-family: 'Cairo', sans-serif;
}
label>input, input {
    border: none;
    margin: 5px 0px;
    padding: 10px;
    width: 100%;
}
input#botao-form {
    background: #f4a460;
    border-radius: 5px;
    color: #fff;
    font-weight: 900;
}
/* Fim da Seção1 */
.s2 {
    padding: 20px;
}
.s2 h2 {
    font-family: 'Cairo', sans-serif;
}
.s2 p {
    font-family: 'Zilla Slab', serif;
    margin: 20px 0px;
    text-align: justify;
}
/* Fim da Seção2 */
.s3 {
    background: #daa520;
    padding: 30px;
    text-align: center;
}
.s3 img {
    margin: 50px 0px 0px 0px;
}
.s3 h3 {
    font-family: 'Cairo', sans-serif;
    margin: 20px 0px;
}
.s3 p {
    font-family: 'Zilla Slab', serif;
    margin: 0px 0px 20px 0px;
}
/* Fim da seção3 */