@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Nunito&display=swap');
/* 
font-family: 'Nunito', sans-serif; Títulos e menu de navegação
font-family: 'Montserrat', sans-serif; Textos grandes
*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* Início do Header */
main {
    background: rgba(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .8);
    max-width: 500px;
    margin: 0px auto;
}
main header ul {
    background: rgba(30, 144, 255);
    list-style-type: none;
    text-align: center;
}
main header ul a {
    color:rgba(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    text-decoration: none;
}
a:visited {
    color: rgba(255, 255, 255);
}
main header ul a li {
    border: 1px solid white;
    display: inline-block;
    margin: 0px -2px;
    padding: 10px;
    width: 50%;
}
/* Fim do Header */
/* Início da seção1-artigos */
.s1 h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    padding: 20px 5px;
    text-align: center;
}
.s1 ol {
    font-family: 'Montserrat', sans-serif;
    list-style-position: inside;
}
.s1 ol a {
    text-decoration: none;
}
.s1 ol a:visited {
    color: rgb(255, 255, 255);
}
.s1 ol a li {
    background: rgba(30, 144, 255, .6);
    border-bottom: 5px solid rgb(30, 144, 255);
    color: rgb( 255, 255, 255);
    margin: 10px 0px;
    padding: 10px 5px;
}
/* Fim da seção1-artigos */
/* Início do rodapé */
footer {
    background: rgba(0, 0, 0, .1);
    color: black;
    padding: 10px;
}
footer a {
    margin: 5px 10px;
    position: relative; top: 4px;
}