@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Nunito&display=swap');
/* 
font-family: 'Nunito', sans-serif; Títulos e menu de navegação
font-family: 'Montserrat', sans-serif; Textos grandes
*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* Início do Header */
main {
    background: rgba(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .8);
    max-width: 500px;
    margin: 0px auto;
}
.nav-superior>ul {
    background: rgba(30, 144, 255);
    list-style-type: none;
    text-align: center;
}
.nav-superior>ul>a {
    color:rgba(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    text-decoration: none;
}
ul>a:visited {
    color: rgba(255, 255, 255);
}
.nav-superior>ul>a>li {
    border: 1px solid white;
    display: inline-block;
    margin: 0px -2px;
    padding: 10px;
    width: 50%;
}
/* Fim do Header */
/* Início da seção 1 */
.s1-home {
    background: rgba(0, 0, 0, .9);
    height: 400px;
    padding: 50px;
}
.s1-home img {
    border: 5px solid white;
    border-radius: 100px;
    display: block;
    margin: 0px auto;
    width: 200px;
}
.s1-home h1 {
    color: white;
    margin: 50px 0px;
    text-decoration: underline;
    text-align: center;
}
/* Fim da seção 1 */
/* Início da seção 2 */
.s2-home {
    background: rgba(30, 144, 255, .9);
    color: #fff;
    padding: 20px;
    text-align: center;
}
.s2-home h2 {
    font-family: 'Nunito', sans-serif;
    margin: 0px 0px 30px 0px;
}
.s2-home p {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}
/* Fim da seção 2 */
/* Início do rodapé */
footer {
    background: rgba(0, 0, 0, .1);
    color: black;
    padding: 10px;
}
footer a {
    margin: 5px 10px;
    position: relative; top: 4px;
}