@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Nunito&display=swap');
/* 
font-family: 'Nunito', sans-serif; Títulos e menu de navegação
font-family: 'Montserrat', sans-serif; Textos grandes
*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* Começo do Header */
main {
    background: rgba(255, 255, 255);
}
main header ul {
    background: rgba(30, 144, 255);
    list-style-type: none;
    text-align: center;
}
main header ul li {
    border: 1px solid white;
    display: inline-block;
    margin: 0px -2px;
    padding: 10px;
    width: 50%;
}
main header ul li a {
    color:rgba(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    text-decoration: none;
}
a:visited {
    color: rgba(255, 255, 255);
}
/* Fim do Header */
/* Começo da seção 1 */
.s1 {
    background: rgba(0, 0, 0, .9);
    height: 400px;
    padding: 50px;
}
.s1 img {
    border: 5px solid white;
    border-radius: 100px;
    display: block;
    margin: 0px auto;
    width: 200px;
}
.s1 h1 {
    color: white;
    margin: 50px 0px;
    text-decoration: underline;
    text-align: center;
}
/* Fim da seção 1 */