@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Akaya Kanadaka', cursive;
    margin: 0px;
    padding: 0px;
}
main>header {
    background: rgb(248, 248, 255);
}
.logo-escola img {
    height: auto;
    text-align: center;
    width: 100%;
}
main header ul {
    list-style-type: none;
    text-align: center;
}
ul>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:visited {
    color:rgb(255, 255, 255);
}
li {
    border-radius: 5px;
    display: inline-block;
    margin: 10px 5px 5px;
    padding: 10px;
}
.home {
    background: #228b22;
}
.botao2 {
    background: #6495ed;
}
.botao3 {
    background: #a52a2a;
}
/* Fim do Header */
.s1 {
    background-image: url('../_img-esc-candidos/escola-candidos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}
.descricao-escola {
    background: rgba(255, 255, 255, .9);
    border-radius: 3px;
    margin: 0 auto;
    padding: 10px;
    position: relative; top: 10%;
    width: 95%;
}
.descricao-escola h1 {
    text-align: center;
}
.descricao-escola p {
    margin: 10px 0px;
    text-align: justify;
}
/* Fim da s1 = Seção 1 */
.s2 {
    margin: 100px 0px 0px 0px;
    padding: 10px;
}
section>article {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.atividades {
    background: rgb(103,255,103);
    background: linear-gradient(180deg, rgba(103,255,103,1) 0%, rgba(34,139,34,1) 100%);
    border-radius: 10px;
    color:rgb(255, 255, 255);
    height: 260px;
    padding: 10px;
    text-align: center;
}
.atividades img {
    position: relative; top: -100px;
}
.atividades h2 {
    position: relative; top: -80px
}
.atividades p {
    position: relative; top: -60px;
    text-align: justify;
}
/* Fim do Artigo Atividades */
.educacao {
    background: rgb(100,149,237);
    background: linear-gradient(180deg, rgba(100,149,237,1) 0%, rgba(23,98,233,1) 100%);
    border-radius: 10px;
    color:rgb(255, 255, 255);
    height: 260px;
    margin: 100px 0px 0px 0px;
    padding: 10px;
    text-align: center;
}
.educacao img {
    position: relative; top: -100px;
}
.educacao h2 {
    position: relative; top: -80px;
}
.educacao p {
    position: relative; top: -60px;
    text-align: justify;
}
/* Fim do Artigo Educação */
.professores {
    background: rgb(255,116,116);
    background: linear-gradient(180deg, rgba(255,116,116,1) 0%, rgba(165,42,42,1) 100%);
    border-radius: 10px;
    color:rgb(255, 255, 255);
    height: 260px;
    margin: 100px 0px 0px 0px;
    padding: 10px;
    text-align: center;
}
.professores img {
    position: relative; top: -100px;
}
.professores h2 {
    position: relative; top: -80px;
}
.professores p {
    position: relative; top: -60px;
    text-align: justify;
}
/* Fim da seção 2 e Artigo Professores */
.s3 {
    background-image: url('../_img-esc-candidos/fundo-depoimentos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    text-align: center;
    width: 100%;
}
.depoimentos {
    background:rgba(255, 255, 255, .5);
    height: inherit;
}
.s3 h2 {
    font-size: 58px;
}
.s3 p {
    background:rgba(255, 255, 255, 1);
    margin: 50px 0px;
}
/* Fim da Seção Depoimentos */
.s4 {
    padding: 20px;
    text-align: center;
}
.endereco {
    border-bottom: 1px solid rgb(211, 211, 211);
    padding: 0px 0px 10px 0px;
}
.endereco h2 {
    margin: 10px 0px;
}
.contato {
    border-top: 1px solid rgb(211, 211, 211);
    padding: 10px 0px 0px 0px;
}
.contato h2 {
    margin: 10px 0px;
}
/* Fim da Seção de Endereço/Contato */
footer {
    background-color: rgb(34, 139, 34);
    color:rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}
footer>p {
    font-size: 12px;
}
footer>a {
    display: block;
    margin: 20px 0px 0px 0px;
}
/* Fim do Rodapé */
@media only screen and (min-width: 425px) {
    .atividades, .educacao, .professores {
        height: 230px;
    }
    .s3 {
        height: 500px;
    }
}
/* Fim da Configuração para Celulares */
@media only screen and (min-width: 600px) {
    header {
        padding: 10px;
        position: relative;
    }
    .logo-escola {
        display: inline-block;
        width: 150px;
    }
    header>ul {
        position: absolute; right: 10px; bottom: 50px;
    }
    /* Fim do cabeçalho */
    .atividades, .educacao, .professores {
        height: 200px;
    }
    /* Fim dos artigos, atividades, educação, professores */
    .s3 {
        height: 420px;
    }
    /* Fim depoimentos */
    .endereco {
        border-bottom: none;
        border-right: 1px solid rgb(211, 211, 211);
        display: inline-block;
        padding: 0px;
        position: relative; left: 2px;
        width: 49.6%;
    }
    .contato {
        border-top: none;
        border-left: 1px solid rgb(211, 211, 211);
        display: inline-block;
        height: 155px;
        padding: 0px;
        position: relative; right: 2px; bottom: 19px;
        width: 49.6%;
    }
    /* Fim da seção de localização e contato */
    footer {
        position: relative;
        text-align: left;
    }
    footer>p {
        display: inline-block;
    }
    footer a {
        position: absolute; right: 20px; bottom: 10px;
        display: inline-block;
    }
}
@media only screen and (min-width: 927px) {
    main {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 1024px;
        margin: 0 auto;
    }
    .s2 {
        margin: 100px 0px 0px 0px;
    }
    .atividades {
        display: inline-block;
        height: 250px;
        width: 33%;
    }
    .educacao {
        display: inline-block;
        height: 250px;
        margin: 0px;
        width: 33%;
    }
    .professores {
        display: inline-block;
        height: 250px;
        position: relative; bottom: 18px;
        margin: 0px;
        width: 33%;
    }
    /* Fim da seção de atividades, educação, professores */
    .s3 {
        height: 250px;
    }
    .s3 p {
        display: inline-block;
        width: 33%
    }
    /* Fim da configuração da seção de depoimentos */
    .endereco {
        height: 155px;
        left: 3px;
    }
    .contato {
        position: relative; right: 2px; bottom: 0px;
    }
}